<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact me</h2>
                <hr class="light">
                <p class="text-faded">I am currently in my forties with a beautiful wife and three great kids.  I am blessed.  As a programmer I work with several technologies and languages like PHP, Javascript, C#. Recently I received my Drupal 7 Site Builder and Developer Certifications from Acquia.</p>
                <a href="mailto:{{ site.email }}" class="btn btn-default btn-xl">Drop me a dime.</a>
            </div>
        </div>
    </div>
</section>
